<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shorter - URL Shortener</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

    <div class="container">
        <h1>
            < Shortie />
        </h1>
        <small>Your Shortened URL is ready!.</small>
        <center>
            <br>
            <h2 class="url-dis">
                <a href="{{short_url}}" style="text-decoration: none; color: aliceblue;">
                    shorter.com/{{short_url}}
                </a>
            </h2>
        </center>

        <small style="color:#dddddd; font-size: 11px; padding-top: 40px;">version 1.0 (c) Developer : Vivek
            Vijayan</small>
    </div>

</body>

</html>